.content-container {
  display: grid;
  grid-template-rows: 20% 80%;
  margin-top: 10%;
  min-height: 200px;

  p {
    margin: 0;
  }
}

.info-card {
  margin-top: 5%;
}

ion-radio-group {
  padding-left: 20px;
  padding-top: 5px;
}

ion-radio {
  --color: var(--md-sys-color-on-secondary-container);
}