<div class="content-container secondary" [ngClass]="{ 'expanded': !small, 'shrink': small }" (click)="expand()">
  <p class="headline-large">{{ recipe.name }}</p>
  <div class="recipe-info">
    <span class="label-large">Servings: {{ recipe.servings }} | </span>
    <span class="label-large">Prep Time: {{ recipe.prepTime.time }} {{ recipe.prepTime.unit }} | </span>
    <span class="label-large">Cook Time: {{ recipe.cookTime.time }} {{ recipe.cookTime.unit }} </span>
  </div>
  <ng-container *ngIf="!small">
    <div class="ingredients">
      <p class="headline-small">Ingredients</p>
      <div class="indent">
        <p *ngFor="let ingredient of recipe.ingredients" class="body-large">{{ ingredient.ingredient }}</p>
      </div>
    </div>
    <div class="instructions">
      <p class="headline-small">Instructions</p>
      <ol class="body-large">
        <li *ngFor="let instruction of recipe.instructions">{{ instruction }}</li>
      </ol>
    </div>
    <div class="button-container">
      <ion-button>
        <ion-icon name="clipboard"></ion-icon>
      </ion-button>
    </div>
  </ng-container>
  <div class="expand-button-container">
    <div class="expand-button" (click)="shrink($event)">
      <ion-icon
        [name]="small ? 'chevron-down' : 'chevron-up'"
      ></ion-icon>
    </div>
  </div>
</div>
