.form {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .button-container {
    width: 100%;
    display: flex;
    justify-content: end;

    ion-button {
      min-width: 100px;
    }
  }

  .removable-input {
    display: flex;
    align-items: center;

    div {
      flex: 1;
    }

    ion-select {
      margin-left: 10px;
      max-width: 20%;
    }

    ion-icon {
      font-size: 25px;
      color: var(--md-sys-color-error);
      cursor: pointer;
      margin-left: 10px;
    }
  }

  p {
    margin: 0;
  }

  .time-unit {
    display: flex;

    ion-radio-group {
      margin-left: 10px;
    }
  }
}