:root {
  --md-source: #499F68;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #00210e;
  --md-ref-palette-primary20: #00391c;
  --md-ref-palette-primary25: #004523;
  --md-ref-palette-primary30: #00522b;
  --md-ref-palette-primary35: #005f33;
  --md-ref-palette-primary40: #006d3b;
  --md-ref-palette-primary50: #288750;
  --md-ref-palette-primary60: #46a268;
  --md-ref-palette-primary70: #62bd81;
  --md-ref-palette-primary80: #7dda9a;
  --md-ref-palette-primary90: #99f6b5;
  --md-ref-palette-primary95: #c3ffd0;
  --md-ref-palette-primary98: #eaffeb;
  --md-ref-palette-primary99: #f5fff3;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #0d1f13;
  --md-ref-palette-secondary20: #223527;
  --md-ref-palette-secondary25: #2d4031;
  --md-ref-palette-secondary30: #384b3c;
  --md-ref-palette-secondary35: #435747;
  --md-ref-palette-secondary40: #4f6353;
  --md-ref-palette-secondary50: #687c6b;
  --md-ref-palette-secondary60: #819684;
  --md-ref-palette-secondary70: #9bb19e;
  --md-ref-palette-secondary80: #b6ccb8;
  --md-ref-palette-secondary90: #d2e8d4;
  --md-ref-palette-secondary95: #e0f7e2;
  --md-ref-palette-secondary98: #eaffeb;
  --md-ref-palette-secondary99: #f5fff3;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001f26;
  --md-ref-palette-tertiary20: #023640;
  --md-ref-palette-tertiary25: #13414b;
  --md-ref-palette-tertiary30: #214c57;
  --md-ref-palette-tertiary35: #2e5863;
  --md-ref-palette-tertiary40: #3a646f;
  --md-ref-palette-tertiary50: #537d88;
  --md-ref-palette-tertiary60: #6d97a3;
  --md-ref-palette-tertiary70: #87b2be;
  --md-ref-palette-tertiary80: #a2ceda;
  --md-ref-palette-tertiary90: #beeaf6;
  --md-ref-palette-tertiary95: #d7f6ff;
  --md-ref-palette-tertiary98: #f0fbff;
  --md-ref-palette-tertiary99: #f8fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c19;
  --md-ref-palette-neutral20: #2e312e;
  --md-ref-palette-neutral25: #393c39;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #50534f;
  --md-ref-palette-neutral40: #5c5f5b;
  --md-ref-palette-neutral50: #757874;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c5c7c2;
  --md-ref-palette-neutral90: #e1e3de;
  --md-ref-palette-neutral95: #f0f1ec;
  --md-ref-palette-neutral98: #f8faf5;
  --md-ref-palette-neutral99: #fbfdf8;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #161d17;
  --md-ref-palette-neutral-variant20: #2b322c;
  --md-ref-palette-neutral-variant25: #363d36;
  --md-ref-palette-neutral-variant30: #414942;
  --md-ref-palette-neutral-variant35: #4c544d;
  --md-ref-palette-neutral-variant40: #586059;
  --md-ref-palette-neutral-variant50: #717971;
  --md-ref-palette-neutral-variant60: #8b938a;
  --md-ref-palette-neutral-variant70: #a5ada4;
  --md-ref-palette-neutral-variant80: #c1c9bf;
  --md-ref-palette-neutral-variant90: #dde5db;
  --md-ref-palette-neutral-variant95: #ebf3e9;
  --md-ref-palette-neutral-variant98: #f4fcf1;
  --md-ref-palette-neutral-variant99: #f6fff4;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006d3b;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #99f6b5;
  --md-sys-color-on-primary-container-light: #00210e;
  --md-sys-color-secondary-light: #4f6353;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d2e8d4;
  --md-sys-color-on-secondary-container-light: #0d1f13;
  --md-sys-color-tertiary-light: #3a646f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #beeaf6;
  --md-sys-color-on-tertiary-container-light: #001f26;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfdf8;
  --md-sys-color-on-background-light: #191c19;
  --md-sys-color-surface-light: #fbfdf8;
  --md-sys-color-on-surface-light: #191c19;
  --md-sys-color-surface-variant-light: #dde5db;
  --md-sys-color-on-surface-variant-light: #414942;
  --md-sys-color-outline-light: #717971;
  --md-sys-color-inverse-on-surface-light: #f0f1ec;
  --md-sys-color-inverse-surface-light: #2e312e;
  --md-sys-color-inverse-primary-light: #7dda9a;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006d3b;
  --md-sys-color-outline-variant-light: #c1c9bf;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #7dda9a;
  --md-sys-color-on-primary-dark: #00391c;
  --md-sys-color-primary-container-dark: #00522b;
  --md-sys-color-on-primary-container-dark: #99f6b5;
  --md-sys-color-secondary-dark: #b6ccb8;
  --md-sys-color-on-secondary-dark: #223527;
  --md-sys-color-secondary-container-dark: #384b3c;
  --md-sys-color-on-secondary-container-dark: #d2e8d4;
  --md-sys-color-tertiary-dark: #a2ceda;
  --md-sys-color-on-tertiary-dark: #023640;
  --md-sys-color-tertiary-container-dark: #214c57;
  --md-sys-color-on-tertiary-container-dark: #beeaf6;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c19;
  --md-sys-color-on-background-dark: #e1e3de;
  --md-sys-color-surface-dark: #191c19;
  --md-sys-color-on-surface-dark: #e1e3de;
  --md-sys-color-surface-variant-dark: #414942;
  --md-sys-color-on-surface-variant-dark: #c1c9bf;
  --md-sys-color-outline-dark: #8b938a;
  --md-sys-color-inverse-on-surface-dark: #191c19;
  --md-sys-color-inverse-surface-dark: #e1e3de;
  --md-sys-color-inverse-primary-dark: #006d3b;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #7dda9a;
  --md-sys-color-outline-variant-dark: #414942;
  --md-sys-color-scrim-dark: #000000;

  &.lapis {
    --md-source: #28587B;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #001e31;
    --md-ref-palette-primary20: #003351;
    --md-ref-palette-primary25: #003f61;
    --md-ref-palette-primary30: #004b72;
    --md-ref-palette-primary35: #005784;
    --md-ref-palette-primary40: #006496;
    --md-ref-palette-primary50: #167db9;
    --md-ref-palette-primary60: #3f97d5;
    --md-ref-palette-primary70: #5fb2f1;
    --md-ref-palette-primary80: #91ccff;
    --md-ref-palette-primary90: #cce5ff;
    --md-ref-palette-primary95: #e7f2ff;
    --md-ref-palette-primary98: #f7f9ff;
    --md-ref-palette-primary99: #fcfcff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #0d1d2a;
    --md-ref-palette-secondary20: #23323f;
    --md-ref-palette-secondary25: #2e3d4b;
    --md-ref-palette-secondary30: #394857;
    --md-ref-palette-secondary35: #455463;
    --md-ref-palette-secondary40: #51606f;
    --md-ref-palette-secondary50: #697988;
    --md-ref-palette-secondary60: #8392a3;
    --md-ref-palette-secondary70: #9dadbe;
    --md-ref-palette-secondary80: #b8c8d9;
    --md-ref-palette-secondary90: #d4e4f6;
    --md-ref-palette-secondary95: #e7f2ff;
    --md-ref-palette-secondary98: #f7f9ff;
    --md-ref-palette-secondary99: #fcfcff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #211534;
    --md-ref-palette-tertiary20: #372a4a;
    --md-ref-palette-tertiary25: #423556;
    --md-ref-palette-tertiary30: #4e4162;
    --md-ref-palette-tertiary35: #5a4c6e;
    --md-ref-palette-tertiary40: #66587b;
    --md-ref-palette-tertiary50: #807194;
    --md-ref-palette-tertiary60: #9a8aaf;
    --md-ref-palette-tertiary70: #b5a4cb;
    --md-ref-palette-tertiary80: #d1bfe7;
    --md-ref-palette-tertiary90: #ecdcff;
    --md-ref-palette-tertiary95: #f8edff;
    --md-ref-palette-tertiary98: #fef7ff;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1a1c1e;
    --md-ref-palette-neutral20: #2f3133;
    --md-ref-palette-neutral25: #3a3b3e;
    --md-ref-palette-neutral30: #45474a;
    --md-ref-palette-neutral35: #515255;
    --md-ref-palette-neutral40: #5d5e61;
    --md-ref-palette-neutral50: #76777a;
    --md-ref-palette-neutral60: #8f9194;
    --md-ref-palette-neutral70: #aaabae;
    --md-ref-palette-neutral80: #c6c6c9;
    --md-ref-palette-neutral90: #e2e2e5;
    --md-ref-palette-neutral95: #f0f0f4;
    --md-ref-palette-neutral98: #f9f9fc;
    --md-ref-palette-neutral99: #fcfcff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #161c22;
    --md-ref-palette-neutral-variant20: #2b3137;
    --md-ref-palette-neutral-variant25: #363c42;
    --md-ref-palette-neutral-variant30: #42474e;
    --md-ref-palette-neutral-variant35: #4d5359;
    --md-ref-palette-neutral-variant40: #595f65;
    --md-ref-palette-neutral-variant50: #72787e;
    --md-ref-palette-neutral-variant60: #8c9198;
    --md-ref-palette-neutral-variant70: #a6acb3;
    --md-ref-palette-neutral-variant80: #c2c7ce;
    --md-ref-palette-neutral-variant90: #dee3eb;
    --md-ref-palette-neutral-variant95: #ecf1f9;
    --md-ref-palette-neutral-variant98: #f7f9ff;
    --md-ref-palette-neutral-variant99: #fcfcff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #006496;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #cce5ff;
    --md-sys-color-on-primary-container-light: #001e31;
    --md-sys-color-secondary-light: #51606f;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #d4e4f6;
    --md-sys-color-on-secondary-container-light: #0d1d2a;
    --md-sys-color-tertiary-light: #66587b;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ecdcff;
    --md-sys-color-on-tertiary-container-light: #211534;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fcfcff;
    --md-sys-color-on-background-light: #1a1c1e;
    --md-sys-color-surface-light: #fcfcff;
    --md-sys-color-on-surface-light: #1a1c1e;
    --md-sys-color-surface-variant-light: #dee3eb;
    --md-sys-color-on-surface-variant-light: #42474e;
    --md-sys-color-outline-light: #72787e;
    --md-sys-color-inverse-on-surface-light: #f0f0f4;
    --md-sys-color-inverse-surface-light: #2f3133;
    --md-sys-color-inverse-primary-light: #91ccff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #006496;
    --md-sys-color-outline-variant-light: #c2c7ce;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #91ccff;
    --md-sys-color-on-primary-dark: #003351;
    --md-sys-color-primary-container-dark: #004b72;
    --md-sys-color-on-primary-container-dark: #cce5ff;
    --md-sys-color-secondary-dark: #b8c8d9;
    --md-sys-color-on-secondary-dark: #23323f;
    --md-sys-color-secondary-container-dark: #394857;
    --md-sys-color-on-secondary-container-dark: #d4e4f6;
    --md-sys-color-tertiary-dark: #d1bfe7;
    --md-sys-color-on-tertiary-dark: #372a4a;
    --md-sys-color-tertiary-container-dark: #4e4162;
    --md-sys-color-on-tertiary-container-dark: #ecdcff;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1a1c1e;
    --md-sys-color-on-background-dark: #e2e2e5;
    --md-sys-color-surface-dark: #1a1c1e;
    --md-sys-color-on-surface-dark: #e2e2e5;
    --md-sys-color-surface-variant-dark: #42474e;
    --md-sys-color-on-surface-variant-dark: #c2c7ce;
    --md-sys-color-outline-dark: #8c9198;
    --md-sys-color-inverse-on-surface-dark: #1a1c1e;
    --md-sys-color-inverse-surface-dark: #e2e2e5;
    --md-sys-color-inverse-primary-dark: #006496;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #91ccff;
    --md-sys-color-outline-variant-dark: #42474e;
    --md-sys-color-scrim-dark: #000000;
  }

  &.fern {
    --md-source: #4B7F52;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #002109;
  --md-ref-palette-primary20: #003914;
  --md-ref-palette-primary25: #00461a;
  --md-ref-palette-primary30: #005320;
  --md-ref-palette-primary35: #016027;
  --md-ref-palette-primary40: #186c32;
  --md-ref-palette-primary50: #368648;
  --md-ref-palette-primary60: #51a160;
  --md-ref-palette-primary70: #6cbd78;
  --md-ref-palette-primary80: #87d991;
  --md-ref-palette-primary90: #a2f6ab;
  --md-ref-palette-primary95: #c5ffc8;
  --md-ref-palette-primary98: #ebffe7;
  --md-ref-palette-primary99: #f6fff1;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #0f1f11;
  --md-ref-palette-secondary20: #243425;
  --md-ref-palette-secondary25: #2e402f;
  --md-ref-palette-secondary30: #3a4b3a;
  --md-ref-palette-secondary35: #455745;
  --md-ref-palette-secondary40: #516351;
  --md-ref-palette-secondary50: #697c69;
  --md-ref-palette-secondary60: #839681;
  --md-ref-palette-secondary70: #9db09b;
  --md-ref-palette-secondary80: #b8ccb6;
  --md-ref-palette-secondary90: #d4e8d1;
  --md-ref-palette-secondary95: #e2f6df;
  --md-ref-palette-secondary98: #ebffe7;
  --md-ref-palette-secondary99: #f6fff1;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #001f24;
  --md-ref-palette-tertiary20: #00363d;
  --md-ref-palette-tertiary25: #114149;
  --md-ref-palette-tertiary30: #1f4d54;
  --md-ref-palette-tertiary35: #2c5960;
  --md-ref-palette-tertiary40: #39656d;
  --md-ref-palette-tertiary50: #527e86;
  --md-ref-palette-tertiary60: #6c98a0;
  --md-ref-palette-tertiary70: #86b3bb;
  --md-ref-palette-tertiary80: #a1ced7;
  --md-ref-palette-tertiary90: #bdeaf3;
  --md-ref-palette-tertiary95: #d1f7ff;
  --md-ref-palette-tertiary98: #edfcff;
  --md-ref-palette-tertiary99: #f6fdff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1a1c19;
  --md-ref-palette-neutral20: #2e312d;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral30: #454744;
  --md-ref-palette-neutral35: #51534f;
  --md-ref-palette-neutral40: #5d5f5b;
  --md-ref-palette-neutral50: #757873;
  --md-ref-palette-neutral60: #8f918d;
  --md-ref-palette-neutral70: #aaaca7;
  --md-ref-palette-neutral80: #c6c7c2;
  --md-ref-palette-neutral90: #e2e3dd;
  --md-ref-palette-neutral95: #f0f1eb;
  --md-ref-palette-neutral98: #f9faf4;
  --md-ref-palette-neutral99: #fcfdf7;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #171d16;
  --md-ref-palette-neutral-variant20: #2b322b;
  --md-ref-palette-neutral-variant25: #363d35;
  --md-ref-palette-neutral-variant30: #424941;
  --md-ref-palette-neutral-variant35: #4d544c;
  --md-ref-palette-neutral-variant40: #596058;
  --md-ref-palette-neutral-variant50: #727970;
  --md-ref-palette-neutral-variant60: #8b9389;
  --md-ref-palette-neutral-variant70: #a6ada3;
  --md-ref-palette-neutral-variant80: #c1c9be;
  --md-ref-palette-neutral-variant90: #dde5d9;
  --md-ref-palette-neutral-variant95: #ecf3e7;
  --md-ref-palette-neutral-variant98: #f4fcf0;
  --md-ref-palette-neutral-variant99: #f7fef3;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #186c32;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #a2f6ab;
  --md-sys-color-on-primary-container-light: #002109;
  --md-sys-color-secondary-light: #516351;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d4e8d1;
  --md-sys-color-on-secondary-container-light: #0f1f11;
  --md-sys-color-tertiary-light: #39656d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bdeaf3;
  --md-sys-color-on-tertiary-container-light: #001f24;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfdf7;
  --md-sys-color-on-background-light: #1a1c19;
  --md-sys-color-surface-light: #fcfdf7;
  --md-sys-color-on-surface-light: #1a1c19;
  --md-sys-color-surface-variant-light: #dde5d9;
  --md-sys-color-on-surface-variant-light: #424941;
  --md-sys-color-outline-light: #727970;
  --md-sys-color-inverse-on-surface-light: #f0f1eb;
  --md-sys-color-inverse-surface-light: #2e312d;
  --md-sys-color-inverse-primary-light: #87d991;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #186c32;
  --md-sys-color-outline-variant-light: #c1c9be;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #87d991;
  --md-sys-color-on-primary-dark: #003914;
  --md-sys-color-primary-container-dark: #005320;
  --md-sys-color-on-primary-container-dark: #a2f6ab;
  --md-sys-color-secondary-dark: #b8ccb6;
  --md-sys-color-on-secondary-dark: #243425;
  --md-sys-color-secondary-container-dark: #3a4b3a;
  --md-sys-color-on-secondary-container-dark: #d4e8d1;
  --md-sys-color-tertiary-dark: #a1ced7;
  --md-sys-color-on-tertiary-dark: #00363d;
  --md-sys-color-tertiary-container-dark: #1f4d54;
  --md-sys-color-on-tertiary-container-dark: #bdeaf3;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c19;
  --md-sys-color-on-background-dark: #e2e3dd;
  --md-sys-color-surface-dark: #1a1c19;
  --md-sys-color-on-surface-dark: #e2e3dd;
  --md-sys-color-surface-variant-dark: #424941;
  --md-sys-color-on-surface-variant-dark: #c1c9be;
  --md-sys-color-outline-dark: #8b9389;
  --md-sys-color-inverse-on-surface-dark: #1a1c19;
  --md-sys-color-inverse-surface-dark: #e2e3dd;
  --md-sys-color-inverse-primary-dark: #186c32;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #87d991;
  --md-sys-color-outline-variant-dark: #424941;
  --md-sys-color-scrim-dark: #000000;
  }

  &.sunset {
    --md-source: #F9C784;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #291800;
    --md-ref-palette-primary20: #452b00;
    --md-ref-palette-primary25: #543500;
    --md-ref-palette-primary30: #633f00;
    --md-ref-palette-primary35: #724a00;
    --md-ref-palette-primary40: #825500;
    --md-ref-palette-primary50: #a36b00;
    --md-ref-palette-primary60: #c38418;
    --md-ref-palette-primary70: #e19e34;
    --md-ref-palette-primary80: #ffb952;
    --md-ref-palette-primary90: #ffddb3;
    --md-ref-palette-primary95: #ffeedc;
    --md-ref-palette-primary98: #fff8f4;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #271904;
    --md-ref-palette-secondary20: #3e2d16;
    --md-ref-palette-secondary25: #4a3820;
    --md-ref-palette-secondary30: #56442a;
    --md-ref-palette-secondary35: #634f35;
    --md-ref-palette-secondary40: #705b40;
    --md-ref-palette-secondary50: #8a7357;
    --md-ref-palette-secondary60: #a58d6f;
    --md-ref-palette-secondary70: #c1a788;
    --md-ref-palette-secondary80: #ddc2a1;
    --md-ref-palette-secondary90: #fbdebc;
    --md-ref-palette-secondary95: #ffeedc;
    --md-ref-palette-secondary98: #fff8f4;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #102003;
    --md-ref-palette-tertiary20: #253515;
    --md-ref-palette-tertiary25: #2f401f;
    --md-ref-palette-tertiary30: #3a4c2a;
    --md-ref-palette-tertiary35: #465834;
    --md-ref-palette-tertiary40: #52643f;
    --md-ref-palette-tertiary50: #6a7d56;
    --md-ref-palette-tertiary60: #83976e;
    --md-ref-palette-tertiary70: #9db287;
    --md-ref-palette-tertiary80: #b8cda1;
    --md-ref-palette-tertiary90: #d4eabb;
    --md-ref-palette-tertiary95: #e2f8c9;
    --md-ref-palette-tertiary98: #efffda;
    --md-ref-palette-tertiary99: #f8ffea;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1f1b16;
    --md-ref-palette-neutral20: #34302a;
    --md-ref-palette-neutral25: #403b35;
    --md-ref-palette-neutral30: #4b4640;
    --md-ref-palette-neutral35: #57514b;
    --md-ref-palette-neutral40: #645d57;
    --md-ref-palette-neutral50: #7d766f;
    --md-ref-palette-neutral60: #978f88;
    --md-ref-palette-neutral70: #b2aaa2;
    --md-ref-palette-neutral80: #cec5bd;
    --md-ref-palette-neutral90: #eae1d9;
    --md-ref-palette-neutral95: #f9efe7;
    --md-ref-palette-neutral98: #fff8f4;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #221a10;
    --md-ref-palette-neutral-variant20: #382f24;
    --md-ref-palette-neutral-variant25: #433a2e;
    --md-ref-palette-neutral-variant30: #4f4539;
    --md-ref-palette-neutral-variant35: #5b5144;
    --md-ref-palette-neutral-variant40: #685d50;
    --md-ref-palette-neutral-variant50: #817567;
    --md-ref-palette-neutral-variant60: #9c8f80;
    --md-ref-palette-neutral-variant70: #b7a99a;
    --md-ref-palette-neutral-variant80: #d3c4b4;
    --md-ref-palette-neutral-variant90: #f0e0cf;
    --md-ref-palette-neutral-variant95: #feeedd;
    --md-ref-palette-neutral-variant98: #fff8f4;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #825500;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffddb3;
    --md-sys-color-on-primary-container-light: #291800;
    --md-sys-color-secondary-light: #705b40;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #fbdebc;
    --md-sys-color-on-secondary-container-light: #271904;
    --md-sys-color-tertiary-light: #52643f;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #d4eabb;
    --md-sys-color-on-tertiary-container-light: #102003;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1f1b16;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1f1b16;
    --md-sys-color-surface-variant-light: #f0e0cf;
    --md-sys-color-on-surface-variant-light: #4f4539;
    --md-sys-color-outline-light: #817567;
    --md-sys-color-inverse-on-surface-light: #f9efe7;
    --md-sys-color-inverse-surface-light: #34302a;
    --md-sys-color-inverse-primary-light: #ffb952;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #825500;
    --md-sys-color-outline-variant-light: #d3c4b4;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #ffb952;
    --md-sys-color-on-primary-dark: #452b00;
    --md-sys-color-primary-container-dark: #633f00;
    --md-sys-color-on-primary-container-dark: #ffddb3;
    --md-sys-color-secondary-dark: #ddc2a1;
    --md-sys-color-on-secondary-dark: #3e2d16;
    --md-sys-color-secondary-container-dark: #56442a;
    --md-sys-color-on-secondary-container-dark: #fbdebc;
    --md-sys-color-tertiary-dark: #b8cda1;
    --md-sys-color-on-tertiary-dark: #253515;
    --md-sys-color-tertiary-container-dark: #3a4c2a;
    --md-sys-color-on-tertiary-container-dark: #d4eabb;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1f1b16;
    --md-sys-color-on-background-dark: #eae1d9;
    --md-sys-color-surface-dark: #1f1b16;
    --md-sys-color-on-surface-dark: #eae1d9;
    --md-sys-color-surface-variant-dark: #4f4539;
    --md-sys-color-on-surface-variant-dark: #d3c4b4;
    --md-sys-color-outline-dark: #9c8f80;
    --md-sys-color-inverse-on-surface-dark: #1f1b16;
    --md-sys-color-inverse-surface-dark: #eae1d9;
    --md-sys-color-inverse-primary-dark: #825500;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb952;
    --md-sys-color-outline-variant-dark: #4f4539;
    --md-sys-color-scrim-dark: #000000;
  }

  &.plum {
    --md-source: #883677;
    /* primary */
    --md-ref-palette-primary0: #000000;
    --md-ref-palette-primary10: #3a0032;
    --md-ref-palette-primary20: #5b0b4f;
    --md-ref-palette-primary25: #68195b;
    --md-ref-palette-primary30: #762667;
    --md-ref-palette-primary35: #843374;
    --md-ref-palette-primary40: #923f80;
    --md-ref-palette-primary50: #af589b;
    --md-ref-palette-primary60: #cd71b6;
    --md-ref-palette-primary70: #eb8bd2;
    --md-ref-palette-primary80: #fface7;
    --md-ref-palette-primary90: #ffd7f0;
    --md-ref-palette-primary95: #ffecf5;
    --md-ref-palette-primary98: #fff7f9;
    --md-ref-palette-primary99: #fffbff;
    --md-ref-palette-primary100: #ffffff;
    /* secondary */
    --md-ref-palette-secondary0: #000000;
    --md-ref-palette-secondary10: #281623;
    --md-ref-palette-secondary20: #3e2a38;
    --md-ref-palette-secondary25: #4a3543;
    --md-ref-palette-secondary30: #56404f;
    --md-ref-palette-secondary35: #634c5b;
    --md-ref-palette-secondary40: #6f5767;
    --md-ref-palette-secondary50: #897080;
    --md-ref-palette-secondary60: #a4899a;
    --md-ref-palette-secondary70: #c0a3b4;
    --md-ref-palette-secondary80: #dcbed0;
    --md-ref-palette-secondary90: #f9daec;
    --md-ref-palette-secondary95: #ffecf5;
    --md-ref-palette-secondary98: #fff7f9;
    --md-ref-palette-secondary99: #fffbff;
    --md-ref-palette-secondary100: #ffffff;
    /* tertiary */
    --md-ref-palette-tertiary0: #000000;
    --md-ref-palette-tertiary10: #321205;
    --md-ref-palette-tertiary20: #4b2717;
    --md-ref-palette-tertiary25: #583121;
    --md-ref-palette-tertiary30: #663c2b;
    --md-ref-palette-tertiary35: #734836;
    --md-ref-palette-tertiary40: #815341;
    --md-ref-palette-tertiary50: #9d6b58;
    --md-ref-palette-tertiary60: #ba846f;
    --md-ref-palette-tertiary70: #d79e88;
    --md-ref-palette-tertiary80: #f5b9a2;
    --md-ref-palette-tertiary90: #ffdbce;
    --md-ref-palette-tertiary95: #ffede7;
    --md-ref-palette-tertiary98: #fff8f6;
    --md-ref-palette-tertiary99: #fffbff;
    --md-ref-palette-tertiary100: #ffffff;
    /* neutral */
    --md-ref-palette-neutral0: #000000;
    --md-ref-palette-neutral10: #1f1a1d;
    --md-ref-palette-neutral20: #342f32;
    --md-ref-palette-neutral25: #3f3a3d;
    --md-ref-palette-neutral30: #4b4548;
    --md-ref-palette-neutral35: #575154;
    --md-ref-palette-neutral40: #635d60;
    --md-ref-palette-neutral50: #7c7578;
    --md-ref-palette-neutral60: #978f92;
    --md-ref-palette-neutral70: #b2a9ac;
    --md-ref-palette-neutral80: #cdc4c7;
    --md-ref-palette-neutral90: #eae0e3;
    --md-ref-palette-neutral95: #f8eef1;
    --md-ref-palette-neutral98: #fff7f9;
    --md-ref-palette-neutral99: #fffbff;
    --md-ref-palette-neutral100: #ffffff;
    /* neutral-variant */
    --md-ref-palette-neutral-variant0: #000000;
    --md-ref-palette-neutral-variant10: #22191f;
    --md-ref-palette-neutral-variant20: #382e34;
    --md-ref-palette-neutral-variant25: #43383f;
    --md-ref-palette-neutral-variant30: #4f444a;
    --md-ref-palette-neutral-variant35: #5b4f56;
    --md-ref-palette-neutral-variant40: #675b62;
    --md-ref-palette-neutral-variant50: #81737b;
    --md-ref-palette-neutral-variant60: #9b8d94;
    --md-ref-palette-neutral-variant70: #b6a7af;
    --md-ref-palette-neutral-variant80: #d2c2ca;
    --md-ref-palette-neutral-variant90: #efdee6;
    --md-ref-palette-neutral-variant95: #fdecf4;
    --md-ref-palette-neutral-variant98: #fff7f9;
    --md-ref-palette-neutral-variant99: #fffbff;
    --md-ref-palette-neutral-variant100: #ffffff;
    /* error */
    --md-ref-palette-error0: #000000;
    --md-ref-palette-error10: #410002;
    --md-ref-palette-error20: #690005;
    --md-ref-palette-error25: #7e0007;
    --md-ref-palette-error30: #93000a;
    --md-ref-palette-error35: #a80710;
    --md-ref-palette-error40: #ba1a1a;
    --md-ref-palette-error50: #de3730;
    --md-ref-palette-error60: #ff5449;
    --md-ref-palette-error70: #ff897d;
    --md-ref-palette-error80: #ffb4ab;
    --md-ref-palette-error90: #ffdad6;
    --md-ref-palette-error95: #ffedea;
    --md-ref-palette-error98: #fff8f7;
    --md-ref-palette-error99: #fffbff;
    --md-ref-palette-error100: #ffffff;
    /* light */
    --md-sys-color-primary-light: #923f80;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffd7f0;
    --md-sys-color-on-primary-container-light: #3a0032;
    --md-sys-color-secondary-light: #6f5767;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #f9daec;
    --md-sys-color-on-secondary-container-light: #281623;
    --md-sys-color-tertiary-light: #815341;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffdbce;
    --md-sys-color-on-tertiary-container-light: #321205;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1f1a1d;
    --md-sys-color-surface-light: #fffbff;
    --md-sys-color-on-surface-light: #1f1a1d;
    --md-sys-color-surface-variant-light: #efdee6;
    --md-sys-color-on-surface-variant-light: #4f444a;
    --md-sys-color-outline-light: #81737b;
    --md-sys-color-inverse-on-surface-light: #f8eef1;
    --md-sys-color-inverse-surface-light: #342f32;
    --md-sys-color-inverse-primary-light: #fface7;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #923f80;
    --md-sys-color-outline-variant-light: #d2c2ca;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #fface7;
    --md-sys-color-on-primary-dark: #5b0b4f;
    --md-sys-color-primary-container-dark: #762667;
    --md-sys-color-on-primary-container-dark: #ffd7f0;
    --md-sys-color-secondary-dark: #dcbed0;
    --md-sys-color-on-secondary-dark: #3e2a38;
    --md-sys-color-secondary-container-dark: #56404f;
    --md-sys-color-on-secondary-container-dark: #f9daec;
    --md-sys-color-tertiary-dark: #f5b9a2;
    --md-sys-color-on-tertiary-dark: #4b2717;
    --md-sys-color-tertiary-container-dark: #663c2b;
    --md-sys-color-on-tertiary-container-dark: #ffdbce;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1f1a1d;
    --md-sys-color-on-background-dark: #eae0e3;
    --md-sys-color-surface-dark: #1f1a1d;
    --md-sys-color-on-surface-dark: #eae0e3;
    --md-sys-color-surface-variant-dark: #4f444a;
    --md-sys-color-on-surface-variant-dark: #d2c2ca;
    --md-sys-color-outline-dark: #9b8d94;
    --md-sys-color-inverse-on-surface-dark: #1f1a1d;
    --md-sys-color-inverse-surface-dark: #eae0e3;
    --md-sys-color-inverse-primary-dark: #923f80;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #fface7;
    --md-sys-color-outline-variant-dark: #4f444a;
    --md-sys-color-scrim-dark: #000000;
  }

  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
